.expandedFolderBackground_b1385f ~ .listItem__48528:nth-child(2)>div:before {
  content: attr(data-dnd-name);
  position: absolute;
  bottom: 8px; 
  left: 50%; 
  transform: translateX(-50%);
  padding: 1px 1.5px; 
  font-size: 10px; 
  color: #ffffff; 
  z-index: 1; 
  pointer-events: none; 
  width: 38px;
  max-height: 27px;
  text-align: center; 
  margin-left: -0.7px;
  overflow:hidden;
  letter-spacing: -0.2px;
  line-height: 0.9;
}
.expandedFolderIconWrapper__324c1 svg {
  width: 48px;
  height: 48px;
}
.folderIconWrapper__11165, .folder__17546,
.collapsed__98ad5 {
    background: none!important;
}
